# environment variables
*.env
#paths
Python/Building and Consuming APIs/Django 101/venv
Python/Building and Consuming APIs/Django 101/db.sqlite3
Python/Building and Consuming APIs/Django Rest Framework/venv
Python/Building and Consuming APIs/Django Rest Framework/readme.txt
