# environment variables
*.env
#paths
Python/Api With Python/Django 101/
Python/Api With Python/Django Rest Framework/venv
Python/Api With Python/Flask - Docker/venv
Python/Api With Python/Flask - Docker/.vscode

